@page "/AccountEdit"
@using System.Diagnostics
@using StrawberryShake
@using ReproClient.Components
@inject IAccountClient accountClient;
@* @RenderMode="@RenderMode.InteractiveWebAssembly" *@

<h1>Account Editor</h1>

@code {

}
